[Unit]
Description=Feed various SDR Data to sdrmap.org
After=network.target

[Service]
ExecStart=/usr/lib/sdrmapfeeder/sdrmapfeeder.sh
Restart=always

[Install]
WantedBy=multi-user.target
